
/* Map mark css
*/
.pin2 {
    position: absolute;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-weight: 600;
    color: #000;
    margin-top: 2px;
    line-height: 1.2;
    z-index: 9999;
    font-size: 12px;
    text-align: center;
    background: #fff;
}
.pin2::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -22px;
    left: 0px;
    border: 8px solid transparent;
    z-index: -1;
}
.pin2.black {
    border: 2px solid #000;
}
.pin2.black::after {
    border-top: 15px solid #000;
}
.pin2.red {
    border: 2px solid #f00;
}
.pin2.red::after {
    border-top: 15px solid #f00;
}
.pin2.blue {
    border: 2px solid #03C;
}
.pin2.blue::after {
    border-top: 15px solid #03C;
}
.pin2.teal {
    border: 2px solid #008080;
}
.pin2.teal::after {
    border-top: 15px solid #008080;
}
.pin2.olivedrab {
    border: 2px solid #6B8E23;
}
.pin2.olivedrab::after {
    border-top: 15px solid #6B8E23;
}
/* override background color : bugfix  */
.leaflet-div-icon{
    background: none !important;
    border:none !important;
}