#progress_num_si.success {
    color: #5cb85c;
}
#progress_num_si {
    bottom: 52px;
    color: #ccc;
    font-size: 60px;
    position: absolute;
    right: 160px;
}
#progress_num_uf.success {
    color: #5cb85c;
}
#progress_num_uf {
    bottom: 180px;
    color: #ccc;
    font-size: 60px;
    position: absolute;
    right: 160px;
}
.default_dg_label {	color: #000 !important;
	font-weight: normal !important;
	margin-bottom: 0px !important;
}
.default_dg_legend {
    text-align: left;
}
.default_dg_label a{
	color: #194f7b !important;
    text-decoration: underline !important;
}
.default_dg_table {
	color: #000 !important;
}
.delete-supplier_invoice_files {
	color: #d9534f;
    font-size: 15px;
    line-height: 1px;
}
.delete-upload_doc_files {
	color: #d9534f;
    font-size: 15px;
    line-height: 1px;
}
.delete-supplier_invoice_download {
    font-size: 14px;
}
.delete-upload_doc_download {
    font-size: 14px;
}
.default_dg_label .supplier-invoice-btn {
	color: #f93 !important;
    font-size: 18px;
    padding-left: 5px;
}
.default_dg_label .upload-doc-btn {
	color: #f93 !important;
    font-size: 18px;
    padding-left: 5px;
}
.wrap-td-texts-200 {
	width:200px;
	overflow:hidden;
	word-wrap: break-word;
}
p {
    margin-left: 0 !important;
}
body {
    font: 12px Arial,Helvetica,sans-serif !important;
    color: #000 !important;
}
*, *::before, *::after {
    box-sizing: content-box !important;
}

.headerlinks1 {
    margin-top: 20px !important;
    padding-right: 0px !important;
}